# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\source\bee-tool-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
